---
import Image from "astro/components/Image.astro"
import starIcon from '../../assets/icons/star.svg'
---

<section id="testimonials">
    <h2 id="testimonials_title">Testimonials</h2>
    <fieldset id="testimonials_fieldset">
        <legend>
            <Image src={starIcon} alt="star icon"/>
            <Image src={starIcon} alt="star icon"/>
            <Image src={starIcon} alt="star icon"/>
            <Image src={starIcon} alt="star icon"/>
            <Image src={starIcon} alt="star icon"/>
        </legend>
        <p>
            What a fantastic experience.Rebeen and his super helpful team looked after us to fix our broken wing mirror.  The staff from reception to repair were so helpful and friendly.I would recommend them to anyone.
        </p>
        <p id="testimonials_fieldset--person">- Deb G</p>
    </fieldset>
</section>

<style>
    #testimonials{
        padding: var(--lg);
        display: flex;
        flex-direction: column;
        background-color: var(--grey);
    }

    #testimonials_title{
        font-size: 2em;
        text-align: center;
    }

    #testimonials_fieldset{
        border: 1px solid var(--red);
        display: flex;
        flex-direction: column;
        padding: var(--md);
        text-align: center;
        gap: var(--sm);
        align-items: center;
        justify-content: center;
    }

    #testimonials_fieldset legend{
        display: flex;
        align-self: center;
        justify-content: center;
        padding: var(--sm);
    }

    #testimonials_fieldset legend img{
        max-width: 2em;
        max-height: 2em;
    }
   
    #testimonials_fieldset--person{
        align-self: flex-end;
    }

</style>